<a href="https://colab.research.google.com/github/felipericardo93/bancodedadosnaorelacional/blob/main/aula10_10_24_felipe_ricardo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 36.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [2]:
import pymongo
import json
# URL de conexão ao MongoDB Atlas (substitua pela sua)
client = pymongo.MongoClient("mongodb+srv://felipe:123@cluster101024.g2i0d.mongodb.net/")
# Acessar o banco de dados e a coleção
db = client["Cluster101024"]
collection = db["projeto10_10"]

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [26]:
file_path = "/content/sample_data/restaurant.json"

In [29]:
from bson import ObjectId

In [30]:
# Abrir o arquivo JSON e carregar os dados
data = []
with open(file_path, "r", encoding='utf-8') as file:
 for line in file:
  record = json.loads(line)
  # Converter o campo '_id' com o $oid em ObjectId
  if '_id' in record and '$oid' in record['_id']:
    record['_id'] = ObjectId(record['_id']['$oid'])
 data.append(record)

In [31]:
# Verificar um documento inserido
documento = collection.find_one()
print(documento)

{'_id': ObjectId('55f14313c7447c3da7052519'), 'URL': 'http://www.just-eat.co.uk/restaurants-bluebreeze-le3/menu', 'address': '56 Bonney Road', 'address line 2': 'Leicester', 'name': 'Blue Breeze Fish Bar', 'outcode': 'LE3', 'postcode': '9NG', 'rating': 5.5, 'type_of_food': 'Fish & Chips', 'main_dishes': ['Pizza Margherita', 'Lasanha Vegana', 'Risotto de Cogumelos']}

1. Insira um novo restaurante com o nome "Nova Pizzaria" e os seguintes detalhes: endereço, código postal, e classificação de 4.5.

In [33]:
db.restaurants.insert_one({
    "name": "Nova Pizzaria",
    "address": "Rua das Flores, 123",
    "postal_code": "12345-678",
    "rating": 4.5
})

InsertOneResult(ObjectId('671193361d1c73caf356dfe7'), acknowledged=True)

2. Crie um documento para um restaurante com o tipo de comida "Vegano", com a classificação
5 e localizado em "Rio de Janeiro, RJ".

In [34]:
db.restaurants.insert_one({
    "name": "Vegano Delight",
    "type_of_food": "Vegano",
    "rating": 5,
    "address": "Av. Atlântica, 1000",
    "city": "Rio de Janeiro",
    "state": "RJ"
})

InsertOneResult(ObjectId('671193a01d1c73caf356dfe8'), acknowledged=True)

3. Adicione uma lista de pratos principais ao restaurante "A & G Kitchen", incluindo "Pizza
Margherita", "Lasanha Vegana" e "Risotto de Cogumelos"

In [35]:
db.restaurants.update_one(
    {"name": "A & G Kitchen"},  # Filtro para encontrar o restaurante pelo nome
    {
        "$set": {
            "main_dishes": ["Pizza Margherita", "Lasanha Vegana", "Risotto de Cogumelos"]
        }
    }
)

UpdateResult({'n': 0, 'electionId': ObjectId('7fffffff0000000000000090'), 'opTime': {'ts': Timestamp(1729205448, 8), 't': 144}, 'nModified': 0, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1729205448, 8), 'signature': {'hash': b"\xed\x93\x7f\xc4'\x81b\x8f\xf7\xa1\xe9\xe4\xfa\xe9\xec\x19\xba\xbf\xd0\xbf", 'keyId': 7396735957833089031}}, 'operationTime': Timestamp(1729205448, 8), 'updatedExisting': False}, acknowledged=True)

4. Crie um documento com um restaurante que tenha múltiplos endereços em diferentes cidades
e adicione as classificações individuais para cada localização.

In [36]:
db.restaurants.insert_one({
    "name": "Global Cuisine",
    "locations": [
        {
            "address": "Av. Paulista, 1500",
            "city": "São Paulo",
            "state": "SP",
            "rating": 4.8
        },
        {
            "address": "Rua Augusta, 200",
            "city": "São Paulo",
            "state": "SP",
            "rating": 4.6
        },
        {
            "address": "Rua XV de Novembro, 300",
            "city": "Curitiba",
            "state": "PR",
            "rating": 4.9
        }
    ]
})

InsertOneResult(ObjectId('671195131d1c73caf356dfe9'), acknowledged=True)

5. Insira um restaurante com uma avaliação vazia e adicione campos para indicar os horários de
funcionamento: "Segunda a Sexta: 9h às 22h", "Sábado e Domingo: 11h às 23h".

In [38]:
db.restaurants.insert_one({
    "name": "Novo Restaurante",
    "rating": None,  # Avaliação vazia
    "opening_hours": {
        "weekdays": "Segunda a Sexta: 9h às 22h",
        "weekends": "Sábado e Domingo: 11h às 23h"
    }
})

InsertOneResult(ObjectId('671195761d1c73caf356dfeb'), acknowledged=True)

6. Liste todos os restaurantes que possuem o tipo de comida "Chinesa".

In [39]:
chinese_restaurants = db.restaurants.find({"type_of_food": "Chinese"})

print("Restaurantes com comida Chinesa:")
for restaurant in chinese_restaurants:
    print(restaurant)

Restaurantes com comida Chinesa:

7. Busque e exiba todos os restaurantes localizados na cidade de "Cardiff".

In [40]:
cardiff_restaurants = db.restaurants.find({"address line 2": "Cardiff"})

print("Restaurantes localizados em Cardiff:")
for restaurant in cardiff_restaurants:
    print(restaurant)

Restaurantes localizados em Cardiff:

8. Filtre os restaurantes com uma classificação superior a 5 e exiba seus nomes e tipos de comida.

In [42]:
notas_altas = db.restaurants.find(
    {"rating": {"$gt": 5}},  # Filtro para classificação superior a 5
    {"name": 1, "type_of_food": 1, "_id": 0}  # Exibe apenas os campos 'name' e 'type_of_food'
)

print("Restaurantes com classificação superior a 5:")
for restaurant in notas_altas:
    print(restaurant)

Restaurantes com classificação superior a 5:

9. Encontre um restaurante pelo seu nome exato e exiba todas as informações associadas.

In [43]:
# Nome do restaurante que você deseja encontrar
nome_restaurante = "AG Kitchen"  # Substitua pelo nome do restaurante desejado

# Buscar o restaurante pelo nome
restaurant = db.restaurants.find_one({"name": nome_restaurante})

# Exibir informações
if restaurant:
    print(f"Informações do restaurante '{nome_restaurante}':")
    print(restaurant)
else:
    print(f"Restaurante '{nome_restaurante}' não encontrado.")

Restaurante 'AG Kitchen' não encontrado.

10.Liste os 5 restaurantes com a maior avaliação no banco de dados.

In [44]:
melhores_restaurantes = db.restaurants.find().sort("rating", -1).limit(5)

print("Top 5 restaurantes com maior avaliação:")
for restaurant in melhores_restaurantes:
    print(restaurant)

Top 5 restaurantes com maior avaliação:
{'_id': ObjectId('671193a01d1c73caf356dfe8'), 'name': 'Vegano Delight', 'type_of_food': 'Vegano', 'rating': 5, 'address': 'Av. Atlântica, 1000', 'city': 'Rio de Janeiro', 'state': 'RJ'}
{'_id': ObjectId('671193361d1c73caf356dfe7'), 'name': 'Nova Pizzaria', 'address': 'Rua das Flores, 123', 'postal_code': '12345-678', 'rating': 4.5}
{'_id': ObjectId('671195561d1c73caf356dfea'), 'name': 'Horários Flexíveis', 'rating': None, 'opening_hours': {'weekdays': 'Segunda a Sexta: 9h às 22h', 'weekends': 'Sábado e Domingo: 11h às 23h'}}
{'_id': ObjectId('671195761d1c73caf356dfeb'), 'name': 'Novo Restaurante', 'rating': None, 'opening_hours': {'weekdays': 'Segunda a Sexta: 9h às 22h', 'weekends': 'Sábado e Domingo: 11h às 23h'}}
{'_id': ObjectId('671195131d1c73caf356dfe9'), 'name': 'Global Cuisine', 'locations': [{'address': 'Av. Paulista, 1500', 'city': 'São Paulo', 'state': 'SP', 'rating': 4.8}, {'address': 'Rua Augusta, 200', 'city': 'São Paulo', 'state': 'SP', 'rating': 4.6}, {'address': 'Rua XV de Novembro, 300', 'city': 'Curitiba', 'state': 'PR', 'rating': 4.9}]}

11.Atualize a classificação do restaurante "007 Takeaway" para 6.5.

In [45]:
db.restaurants.update_one(
    {"name": "007 Takeaway"},  # Filtro para encontrar o restaurante pelo nome
    {"$set": {"rating": 6.5}}  # Atualiza a classificação
)

print("Classificação do '007 Takeaway' atualizada para 6.5")

Classificação do '007 Takeaway' atualizada para 6.5

12.Altere o tipo de comida de todos os restaurantes com a classificação 4.0 para "Fusão
Contemporânea"

In [46]:
db.restaurants.update_many(
    {"rating": 4.0},  # Filtro para encontrar todos os restaurantes com classificação 4.0
    {"$set": {"type_of_food": "Fusão Contemporânea"}}  # Atualiza o tipo de comida
)

print("Tipo de comida atualizado para 'Fusão Contemporânea' para todos os restaurantes com classificação 4.0")

Tipo de comida atualizado para 'Fusão Contemporânea' para todos os restaurantes com classificação 4.0

13.Adicione uma lista de comentários de clientes ao restaurante "113 Fish Bar", com pelo menos
3 comentários diferentes.

In [47]:
comentarios = [
    {"cliente": "João", "comentário": "Ótimo serviço!"},
    {"cliente": "Maria", "comentário": "A comida estava deliciosa!"},
    {"cliente": "Carlos", "comentário": "Ambiente agradável e bom preço."}
]

db.restaurants.update_one(
    {"name": "113 Fish Bar"},  # Filtro para encontrar o restaurante pelo nome
    {"$set": {"comentarios": comentarios}}  # Atualiza o campo 'comentarios'
)

print("Comentários adicionados ao '113 Fish Bar'")

Comentários adicionados ao '113 Fish Bar'

14.Modifique o endereço do restaurante "A M Mians" para "Rua Nova, 123" e a cidade para
"Lisboa".

In [48]:
db.restaurants.update_one(
    {"name": "A M Mians"},  # Filtro para encontrar o restaurante pelo nome
    {"$set": {
        "address": "Rua Nova, 123",  # Novo endereço
        "city": "Lisboa"  # Nova cidade
    }}
)

print("Endereço e cidade do 'A M Mians' atualizados para 'Rua Nova, 123' e 'Lisboa'")

Endereço e cidade do 'A M Mians' atualizados para 'Rua Nova, 123' e 'Lisboa'

15.Atualize o campo de URL do restaurante "@ Thai Restaurant" para refletir um novo domínio:
"http://www.example-thairestaurant.com/menu".

In [49]:
db.restaurants.update_one(
    {"name": "@ Thai Restaurant"},  # Filtro para encontrar o restaurante pelo nome
    {"$set": {"URL": "http://www.example-thairestaurant.com/menu"}}  # Atualiza o campo de URL
)

print("URL do '@ Thai Restaurant' atualizada para 'http://www.example-thairestaurant.com/menu'")

URL do '@ Thai Restaurant' atualizada para 'http://www.example-thairestaurant.com/menu'

16.Exclua todos os restaurantes com uma classificação abaixo de 3.

In [50]:
db.restaurants.delete_many({"rating": {"$lt": 3}})

print("Restaurantes com classificação abaixo de 3 excluídos.")

Restaurantes com classificação abaixo de 3 excluídos.

17.Remova um restaurante cujo nome contenha "Pizza" e esteja localizado na cidade de
"Manchester".

In [55]:
db.restaurants.delete_one({
    "name": {"$regex": "Pizza"},
    "address line 2": "Manchester"
})

print("Restaurante com 'Pizza' no nome e localizado em 'Manchester' removido.")

Restaurante com 'Pizza' no nome e localizado em 'Manchester' removido.

18.Delete todos os restaurantes que possuem o tipo de comida "Curry".

In [52]:
db.restaurants.delete_many({"type_of_food": "Curry"})

print("Restaurantes com tipo de comida 'Curry' excluídos.")

Restaurantes com tipo de comida 'Curry' excluídos.

19.Exclua o restaurante com o nome "A & T Mundi House".

In [54]:
db.restaurants.delete_one({"name": "A & T Mundi House"})

print("Restaurante 'A & T Mundi House' excluído.")

Restaurante 'A & T Mundi House' excluído.

20.Remova os documentos duplicados do restaurante "333 Chinese Takeaway", preservando
apenas um.

In [56]:
result = db.restaurants.aggregate([
    {"$match": {"name": "333 Chinese Takeaway"}},
    {"$group": {
        "_id": "$name",
        "unique_id": {"$first": "$_id"},
        "count": {"$sum": 1}
    }},
    {"$match": {"count": {"$gt": 1}}}
])

duplicates = list(result)
for duplicate in duplicates:
  restaurant_id = duplicate["unique_id"]
  db.restaurants.delete_many({"_id": {"$ne": restaurant_id}, "name": "333 Chinese Takeaway"})


print("Documentos duplicados de '333 Chinese Takeaway' removidos, preservando apenas um.")

Documentos duplicados de '333 Chinese Takeaway' removidos, preservando apenas um.